src/main/resources/configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Configuration">
        <xs:annotation>
            <xs:documentation>Configuration root element</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="Username" minOccurs="1" maxOccurs="1"/>
                <xs:element type="xs:string" name="Password" minOccurs="1" maxOccurs="1"/>
                <xs:element type="BambooServersType" name="BambooServers" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="BambooServersType">
        <xs:sequence>
            <xs:element type="xs:string" name="BambooUrl" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>